{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'crossword/favicon.ico' %}" />
  <link type='text/css' rel='stylesheet' href="{% static 'crossword/css/index.css' %}">
  <title>Crossword</title>
</head>

<body>
  <header>
    Welcome to my site!
  </header>
  <div id="container">
    {% for puz in puzzle_list  %}
    <div class=puzzle-cell onclick="location.href='{% url "crossword:detail" puz.id %}'">
      <div class="puzzle-name">{{puz}}</div>
      <div class="puzzle-author">By: {{puz.author}}</div>
      <div class="puzzle-size">Size: {{puz.size}}x{{puz.size}}</div>
    </div>
    {% endfor %}
    <button><a href='{% url "crossword:build" %}'>Build your own puzzle!</a></button>
  </div>
</body>

</html>