{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'crossword/favicon.ico' %}" />
  <link type='text/css' rel='stylesheet' href="{% static 'crossword/css/index.css' %}">
  <title>Crossword Home</title>
</head>

<body>
  <header>
    <div id="intro">Welcome to my site!</div>
    <span id="top-divider" class="divider"></span>
    <a id="build" href='{% url "crossword:build" %}'>Build!</a>
  </header>
  <div id="container">
    {% for puz in puzzle_list  %}
    <div class=puzzle-cell onclick="location.href='{% url "crossword:detail" puz.id %}'">
      <div class="puzzle-name">{{puz}}</div>
      <span class="divider"></span>
      <div class="puzzle-author">
        <div>Author</div>
        <div>{{puz.author}}</div>
      </div>
      <span class="divider"></span>
      <div class="puzzle-size">
        <div>Size</div>
        <div class="puzzle-size">{{puz.size}}x{{puz.size}}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <footer class="pagination">
    <div class="step-links">
      {% if page_obj.has_previous %}
      <a id="first" href="?page=1">|&laquo;</a>
      <a id="prev" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a id="next" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      <a id="last" href="?page={{ page_obj.paginator.num_pages }}">&raquo;|</a>
      {% endif %}
    </div>
  </footer>
</body>

</html>