header {
  display: flex;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5,1fr);
  height:1000px;
  width:1000px;
  margin: auto;
  background-color: mintcream;
}

header {
  grid-column: 1/6;
  border:1px solid black;
  text-align: center;
}

table {
  grid-column:1/4;
  grid-row:2/5;
  border-collapse: collapse;
  margin: 0px;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  display: hidden;
}

#dimensions_val {
  display: inline-block;
}

.edit_mode {
  border: 2px dashed red;
}
td{
  padding: 0;
  margin: 0;
  position: relative;
  border: 1px solid black;
  text-align: center;
}

.black > input{
  background-color: black;
}
    
td span{
  position: absolute;
  top: 0px;
  left: 3px;
  z-index: 1;
}  

[name=letter] {
  width: 100%;
  height: 100%;
  border:none;
  text-align: center;
  font-size: 100%;
}

#cluesA {
  grid-row: 2/5;
  grid-column: 4;
  overflow-y: auto;
  border-right: 1px solid black;
  background-color:white;
}

#cluesD {
  grid-row: 2/5;
  grid-column: 5;
  overflow-y: auto;
  border-right: 1px solid black;
  background-color:white;
}

.clue_text {
  display: inline;
  overflow-wrap: break-word;
}

.clue_number {
  display: inline-block;
  padding-right: .25em;
}

footer {
  grid-column: 1/6;
  border:1px solid black;
}