html {
  
}

body {
  display: grid;
  grid-template-rows: repeat(1fr, 5);
  margin: 0px;
  background-color: #0e83e2;
  font-family: "Roboto", Roboto, sans-serif;
  font-size: 1.5vh;
  height: 100vh;
}

header {
  grid-row: 1fr;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid darkgray;
}

#container {
  grid-row: 2 / 7;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: none solid none solid;
  width: 50%;
  min-height: 100%;
}

/* Container elements */


.puzzle-cell {
  background-color: white;
  display: flex;
  border-bottom: 1px solid darkgray;
  width: 100%;
}

.divider {
  flex-grow: 1;
  border-right: 1px solid darkgray;
  height: 75%;
  margin: auto;
}
.puzzle-cell:hover {
  background-color: #8ac5f5;
  cursor: pointer;
}

.puzzle-cell > div{
  width: inherit;
  margin: auto;
  text-align: center;
}

.puzzle-name {
  font-style: italic;
  font-size: 2vh;
}

.puzzle-cell > div :first-child {
  font-family: "Roboto", Roboto, serif;
  font-size: 3vh;
}

footer {
  grid-row: 7;
  background-color: white;
  border-top: darkgray;
}


@media only screen and (max-width: 768px) {
  body {
    height: 100%;
  }
  #container {
    grid-column: auto;
    width: 100%;
    background-color: #0e83e2;
  }

  header {
    grid-column: auto;
    width: 100%;
    height: 10vh;
  }

  .puzzle-cell {
    margin: .5vh;
    min-height: 20vh;
    max-height: 20vh;
    border-radius: 2vh;
  }

  footer {
    grid-column: auto;
    height: 10vh;
  }
}