body {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  margin: 0px;
  background-color: #4d88f9;
  font-family: "Roboto", Roboto, sans-serif;
  font-size: 1.5vh;
  height: 100vh;
}

header {
  grid-row: 1fr;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid darkgray;
}

#top-divider {
  border-right: 1px solid darkgray;
  height: 75%;
  margin: 0px;
}

#build {
  border: none;
  background-color: white;
  font-family: "Times New Roman";
  font-size: 30px;
  margin-left: 2vw;
  text-decoration: none;
}

#build:hover {
  text-decoration: underline;
}

#intro {
  margin: 2vw;
}

#container {
  grid-row: 2 / 9;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: none solid none solid;
  width: 50%;
  min-height: 100%;
}

/* Container elements */

.puzzle-cell {
  background-color: white;
  display: flex;
  border-bottom: 1px solid darkgray;
  width: 100%;
}

.divider {
  border-right: 1px solid darkgray;
  height: 75%;
  margin: auto;
}
.puzzle-cell:hover {
  background-color: #8ac5f5;
  cursor: pointer;
}

.puzzle-cell > div{
  width: inherit;
  margin: auto;
  text-align: center;
}

.puzzle-name {
  font-style: italic;
  font-size: 2vh;
}

.puzzle-cell > div :first-child {
  font-family: "Roboto", Roboto, serif;
  font-size: 3vh;
}

footer {
  grid-row: 9;
  background-color: white;
  border-top: darkgray;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.step-links {
  margin: auto;
  display: grid;
  width: 30%;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
}

.step-links > a {
  margin: auto;
  text-decoration: none;
}

.step-links > a:hover {
  text-decoration: underline;
} 

.current {
  margin: auto;
  grid-column: 3 / 6;
}

/* For smartdevices */
@media only screen and (max-width: 768px) {
  
  body {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
  }

  header {
    width: 100%;
    height: 15vh;
  }

  #container {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    background-color: #4d88f9;
    border: none;
    height: 80vh;
  }

  footer {
    min-height: 15vh;
    width: 100%;
    bottom: 0;
    position: relative;
  }

  .step-links {
    width: 100%;
  }
}